html {
    background-color: gainsboro;
}
body main section div img {
    width: 250px;
    height: 250px;
    float: left;
}
#left-text {
    float:left;
    margin-top: 350px;
    margin-right: 75px;
}
#middle-text {
    float: left;
    margin-top: 350px;
}
#right-text {
    float:left;
    margin-top: 350px;
}